#corporateBind {
  width: 900px;
  position: relative;
  padding: 10px 0 0 25px;
}

.choice-agent-title {
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
}

.handle-choice-agent{
  overflow: hidden;
  zoom:1;
}

.handle-choice-agent .add-list{
  float: left;
}

.add-list .btn-blue span {
  font-size: 16px;
  vertical-align: bottom;
}

.handle-choice-agent {
  margin-top: 6px;
}

#corporateBind .agent-title,
#choiceAgency {
  margin-top: 10px;
  font-size: 14px;
  color: #6c6c6c;
}

#corporateBindForm {
  margin-top: 6px;
}

#agentData {
  width: 900px !important;
  height: auto !important;
}

.cancel-agent-button{
  color: #1aacda;
  text-decoration: underline;
}

.cancel-agent-button:hover{
  color: #37bcf7;
  text-decoration: underline;
}


#editWindow table tr {
  height: 46px;
}

#editWindow .btn-blue {
  width: 100px;
  margin-left: -80px;
}

.mini-textbox-border{
  border: 1px solid #ccc;
}